body {
  margin: 0;
  padding: 0;
  font-family: Roboto;
  background-repeat: no-repeat;
  background-size: cover;
  background: linear-gradient(120deg, #007bff, #d0314c);
  height: 100vh;
  overflow: hidden;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjusted for responsiveness */
  max-width: 400px; /* Set maximum width */
  background: white;
  border-radius: 10px;
  padding: 20px; /* Added padding */
  box-sizing: border-box; /* Box sizing for padding inclusion */
}

.center h1 {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid silver;
  background: #2691d9; /* Matching background color */
  color: white; /* Text color */
  border-radius: 10px 10px 0 0; /* Rounded corners on top */
}

.center form {
  padding: 10px;
  box-sizing: border-box;
}

form .txt_field {
  position: relative;
  border: 2px solid #2691d9; /* Border around each text field */
  border-radius: 5px; /* Rounded corners */
  margin: 30px 0;
  background: #e9f4fb; /* Matching background color */
}

.txt_field input {
  width: calc(100% - 10px); /* Adjusted width for better appearance */
  padding: 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  background: none;
  outline: none;
}

.txt_field label {
  position: absolute;
  top: 0;
  left: 10px;
  color: #2691d9;
  font-size: 16px;
  pointer-events: none;
  background: #e9f4fb; /* Matching background color */
  padding: 0 10px; /* Added padding */
}

.txt_field span::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0px;
  height: 2px;
  background: #2691d9;
  transition: 0.5s;
}

.txt_field input:focus ~ label,
.txt_field input:valid ~ label {
  top: -20px;
  color: #2691d9;
}

.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before {
  width: 100%;
}

input[name="submit"] {
  width: 100%;
  height: 50px;
  border: 1px solid #2691d9;
  border-radius: 25px;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background: #2691d9;
  color: white;
}

input[name="submit"]:hover {
  background: #e9f4fb;
  color: #2691d9;
  transition: 0.5s;
}

.signup_link {
  margin: 10px 0;
  text-align: center;
  font-size: 16px;
  color: #666666;
}

.signup_link a {
  color: #2691d9;
  text-decoration: none;
}

.signup_link a:hover {
  text-decoration: underline;
}
